#inicio-quiz {
    padding: 50px;
}

.quiz-titulo {
    font-size: 40px;
    color: #B9C1CC;
    text-align: center;
    margin-bottom: 30px;
}

.quiz-subtitulo {
    font-family: "Exo 2", sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 15px;
}


/* QUIZ CONTAINER */

#quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    height: 70vh;
    margin-bottom: 50px;
}

#conteudo-quiz, #resultado-quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
    background-color: #fff;
    border-radius: 30px;
    width: 50%;
    height: 100%;
}

.numero {
    font-size: 22px;
    color: #B9C1CC;
    margin-bottom: 10px;
    text-align: right;
    width: 90%;
}

.pergunta {
    font-size: 28px;
    color: #000;
    text-align: center;
    margin: 30px;
}

#resultado-quiz {
    display: none;
}

